       
        <!-- Site Overlay -->
        <div class="site-overlay">
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
            <div class="search-inline">
                <form>
                    <input type="text" class="form-control" placeholder="Type and hit enter...">
                    <button type="submit"><i class="ti-search"></i></button>
                    <a href="javascript:void(0)" class="search-close"><i class="ti-close"></i></a>
                </form>
            </div><!--/search form-->
           <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
                <div  id="navbarNavDropdown" class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Home</a>
                        
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Elements
                            </a>
                </div>
                <div class=" navbar-right-elements">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="search-open"><i class="ti-search"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class=" menu-btn"><i class="ti-shopping-cart"></i> <span class="badge badge-default">3</span></a></li>
                    </ul>
                </div><!--right nav icons-->            
            </div>
        </nav>
                <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);">
                </div> 

        <div class="container pt90 pb60">
            <div class="title-heading1 mb40">
                <h3>Cats Items</h3>
            </div>
            <div class="row">
            	<% @items.each do |item| %>
                <div class="col-md-6 col-lg-3 mb40">
                    <a href="<%= item_path(item.id)%>" class="simple-hover">
                        <img <%= image_tag item.image_url %></img>
                    </a>
                    <div class="clearfix product-meta">
                        <p class="lead mb0"><a href="<%= item_path(item.id)%>"><%= item.title %></a></p>
                        <h4 class=""> $<%= item.price %> </h4>
                    </div>
                </div>
                <% end %>
            </div>
         </div>

        <!--back to top-->
        <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
    </body>




