       
        <!-- Site Overlay -->
        <div class="site-overlay">
        </div>

        <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);">
        </div> 

        <div class="container pt90 pb60">
            <div class="title-heading1 mb40">
                <h3>Cats Items</h3>
            </div>
            <div class="row">
            	<% @items.each do |item| %>
                <div class="col-md-6 col-lg-3 mb40">
                    <a href="<%= item_path(item.id)%>" class="simple-hover">
                        <img <%= image_tag item.image_url %></img>
                    </a>
                    <div class="clearfix product-meta">
                        <p class="lead mb0"><a href="<%= item_path(item.id)%>"><%= item.title %></a></p>
                        <h4 class=""> $<%= item.price %> </h4>
                    </div>
                </div>
                <% end %>
            </div>
         </div>

        <!--back to top-->
        <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
    </body>




