
<link href="css/plugins/plugins.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

 <div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg6.jpg")'>
            <div class="container">
                <div class="row pb30 align-items-end">
                    <div class="col-lg-4 ml-md-auto col-md-6 col-sm-6 mb20">
                        <h3 class="text-white text-left mb30">Edit <%= resource_name.to_s.humanize %></h3>

                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                            <%= devise_error_messages! %>
                        <form>
                           
                            <div class="form-group">
                                <%= f.label :first_name %><br />
                                <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
                            </div>


                              <div class="form-group">
                                <%= f.label :last_name %><br />
                                <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
                              </div>

                              <div class="form-group">
                                <%= f.label :email %><br />
                                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                              </div>

                              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                              <% end %>

                              <div class="form-group">
                                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                                <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
                                <% if @minimum_password_length %>
                                  <br />
                                  <em><%= @minimum_password_length %> characters minimum</em>
                                <% end %>
                              </div>

                              <div class="form-group">
                                <%= f.label :password_confirmation %><br />
                                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
                              </div>

                              <div class="form-group">
                                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                                <%= f.password_field :current_password, autocomplete: "current-password" , class: "form-control" %>
                              </div>

                              <div class="actions">
                                <%= f.submit "Update" %>
                              </div>
                            <% end %>

                            <h3>Cancel my account</h3>

                            <p>Unhappy? <%= button_to "Cancel my account", class: "form-control", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

                            <%= link_to "Back", :back %>
                    </div>
                  </form>
                    <div class="col-lg-4 col-md-6 col-sm-6 mb20">
                        <h3 class="text-gray text-left mb30">Sign Up with social</h3>
                        <div class="clearfix">
                            <a href="#" class="social-icon-lg si-dark si-colored-facebook">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-icon-lg  si-dark si-colored-twitter">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-icon-lg si-dark si-colored-google-plus">
                                <i class="fa fa-google-plus"></i>
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
              </div>
            </div>

           <script src="js/plugins/plugins.js"></script> 
        <script src="js/assan.custom.js"></script> 
    


